#my_video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

html {
  align-items: center;
  background-color: #f7eee4;
  color: #c5c8c6;
  display: flex;
  font: 22px/1 "Inconsolata", monospace;
  height: 100%;
  justify-content: center;
}

body {
  background: #141414;
  border-radius: 2px;
  box-shadow: 15px 15px 5px #1d1f2187;
  color: #c5c8c6;
  display: flex;
  flex-direction: column;
  min-height: 30ch;
  min-width: 50vw;
  padding: 2em;
  border-radius: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  column-gap: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1em 0;
}

li:first-child {
  color: #5050f2;
  font-weight: bold;
}

li:last-child {
  margin: 0 0 1em;
}